ACTION=="add",KERNEL=="sd*", SUBSYSTEMS=="scsi", RUN+="/usr/bin/pmount.wrapper --sync --umask 000 %k %E{ID_FS_LABEL}"
ACTION=="remove", KERNEL=="sd*", RUN+="/usr/bin/pumount.wrapper %k"
