{
   "check_for_updates" : false,
   "webui" : {
      "listen" : "0.0.0.0:{{ btsync_port }}"
   },
   "device_name" : "{{ btsync_name }}",
   "download_limit" : 0,
   "listening_port" : 0,
   "use_upnp" : true,
   "upload_limit" : 0,
   "storage_path" : "{{ btsync_dir }}/sync"
}
